body{
  height: 100%;
  background-color:#FFF5EE;
  text-align: center;
}

.dropDown{
  line-height: 25px;
}
nav h5{
  color: black;
  font-family:'Open Sans', monospace;
  font-size: 14px;

}

nav p{
  color: black;
  font-weight: bold;
  text-align: center;
  font-family:'Open Sans', monospace;
  font-size: 28px;
  line-height: 40px;
  float: left;
  padding: 7px 20px;
}

#admin p
{
  font-size: 15px;
  text-align: left;
}


#sökruta
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: grey;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
}

/*input{
  width: 50%;
  align: center;
}*/

input[type=text]{

 color: #004D40;
 background-color: white;
 border-bottom: solid 2px #4DB6AC;
 outline: none;
 z-index: 20;
 padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  border-style: hidden;
  box-sizing: none;
  margin-top: 0px;
  font-size: 12px;
  width: 150px
}

input[type=password]{

 color: #004D40;
 background-color: white;
 border-bottom: solid 2px #4DB6AC;
 outline: none;
 z-index: 20;
 padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  border-style: hidden;
  box-sizing: none;
  margin-top: 0px;
  font-size: 12px;
  width: 150px
}

button{
  background-color: grey;
border: none;
color: white;
padding: 8px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
border-radius: 4px;
}

.logInContainer{
  float: right;
}

nav .logInContainer button{
  padding: 6px;
  font-size: 12px;
  border: none;
  cursor: pointer;
}
button:hover{
  color: #77a8a8;
}

nav ul li a{
  display: block;
  color: black;
  text-align: left;
  font-family:'Open Sans', monospace;
  font-size: 14px;
  padding: 47px 12px;
  text-decoration: none;
  font-size: 16px;
}

nav ul li{
  float:left;
  list-style: none; /*for no bullet points!*/
  position: relative; /* need this to make position absolute!*/
}

nav ul li ul{
  display: none;
  position: absolute; /* till the drop down nav bar så blir subtitlarna nedåt*/
  background-color: #77a8a8;
  padding: 10px;
}

nav ul li:hover ul{
  display: block;

}

nav ul li ul a{
padding: 8px 14px;
}

nav ul li ul a:hover{

    padding: 8px 14px;
    background-color: #f3f3;
}

nav ul li ul li{
      width: 180px;
      border-radius: 4px;
}

nav{
  width: 100%;
  height: 120px;
  background-color: #77a8a8;
}

#form{
  display: grid;
  grid-template-areas: "a a a";
  grid-auto-columns: 3fr;
  grid-gap: 0%;
}

#Namn{
  margin-left: 500px;
  grid-gap: 5px 5px;
  border: none;
  background-color: white;
  border-bottom: 3px solid #444;
}
#Losen{
grid-gap: 5px 5px;
border: none;
background-color: white;
border-bottom: 3px solid #444;
}

#pongBild{
float: left;
width: 250px;
}

#sushiYamaBild
{
  float: left;
  width: 350px;
  height: 255px;
}

#basilicoBild
{
  float: left;
  width: 350px;
  height: 255px;
}

#IlFIBild
{
  float: left;
  width: 350px;
  height: 255px;
}

.restLänk a{
  color: #77a8a8;
  background-color: transparent;
  text-decoration: none;
  text-decoration: underline;
  font-size: 20px;
}
.PongIMG{
  width: 668px;
  height: 582px;
  margin-bottom: 70px;
}
title{
  text-align: center;
  margin: auto;
}

#map{
      height: 350px;
      width: 30%;
      margin: auto;
}

#omOss p
{
  font-size: 18px;
}

ff{
  font-family: 'Open Sans', monospace;
  font-size: 18px;
  text-align: center;
  margin: auto;
}

#regUemail{
 border: none;
 background-color: white;
 border-bottom: 3px solid #444;

}

#regUpassword{
  border: none;
  background-color: white;
  border-bottom: 3px solid #444;
}

/*CSS FOR THE GRID*/
/*.grid-container{
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 0px;
  margin: auto;
}

.grid-item{
  object-position:90% 90%;
  border: 2px solid black;
  border-image-outset: 0px;
  padding: 0px 20px;
  background-color:  #77a8a8;
  margin: auto;
}

p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
  border-image-outset: 0px;
  text-transform: uppercase;
  font-size: 13px;
}
img{
  width: 60px;
color:#77a8a8;
}

k{
  object-position: 100% 100%
}*/
